@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
  margin: 0;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-noto-sans-tc), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
